/*
 * AZUL 1: #002A3A | rgba(0,42,58,1)
 * AZUL 2: #003349 | rgba(0,51,73,1)
 * AMARELO: #FFCD00 | rgba(255,205,0,1)
 * VERDE: #00B388 | rgba(0,179,136,1);
 * BRANCO: #FFFFFF | rgba(255,255,255,1)
 */

 @import url('https://fonts.googleapis.com/css?family=Lato|Titillium+Web');

/*font-family: 'Lato', sans-serif;
font-family: 'Titillium Web', sans-serif;*/
/*
 body {
 	background-color: #ffffff;
 	font-family: 'Lato',sans-serif;
 	overflow: hidden;
 }

 h1,h2,h3,h4,h5,h6 {
 	font-family: 'Titillium Web', sans-serif;
 }

 h1, h2, h3 {
 	color: #003349;
 }

 h3 {
 	padding: 10px 15px;
 	background-color: #dc3545;;
 	color: white;
 }
 */
.TituloH3{

	padding: 10px 15px;
 	background-color: #dc3545;;
 	color: white;

}
 #total-carrinho {
   background-color: #002A3A;
   width: 98%;
   margin: 0px auto;
   padding:4px;
   font-weight: bold;
   color: white;
   border: 1px solid white;
 }

 #carrinho {
   width: 98%;
 }

 #compra {
 	min-height: 65vh;
 }

 #listagem {
 	min-height: 94%;
 	padding: 15px;
 }

 #lista {
 	background-color: white;
 	min-height: 98%;
	 border: 2px solid red;
 }

 #lista>#carrinho  {
 	width: 98%;
 }

 #lista>#carrinho>thead {
 	text-align: center;
 }

 #carrinho th {
 	background-color: #002A3A;
 	color: white;
 	border: 1px solid white;
 	padding: 2px;
 }

 th {
   text-align: center;
 }

 th.cod {
 	width: 10%;
 }

 th.dsc {
 	width: 54%;
 }

 th.qtd, th.prc, th.tot {
 	width: 12%;
 }

 #adicionar {
 	padding: 15px 30px 15px 15px;
 	min-height: 95%;
 }

 #adicionar .row {
 	background-color: white;
 }
 

 #adicionar #detalhes {
 	height: 98%;
 	padding-bottom: 20px;
	 border: 2px solid red;
 }

 #adicionar #entrada {
 	min-height: 28%;
 	background-color: #003349;
 }

 #lista,#detalhes {
   box-shadow: 2px 2px 3px rgba(0,0,0,.4);
 }

#codigo {
	margin-top: 15px;
}

#btn-adicionar {
  font-weight: bold;
}

#cadastro {
	padding: 0px 15px;
}

#cadastro .col-md-12 {
	background-color: white;
	height: 25vh;
}

#buttons {
  position: absolute;
	right: 20px;
	bottom: 20px;
}

#cadastrar-produto, #listar-produtos {
	border-radius: 100px;
	font-size: 16pt;
	width: 60px;
	height: 60px;
}

.table-wrapper-scroll-y {
  display: block;
  max-height: 280px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#lista-produtos {
  width: 100%;
  border-collapse: collapse;
}

#lista-produtos td {
  border: 1px solid rgba(0,0,0,.15);
  padding: 5px 10px;
}
.StatusCaixa{

	display: inline;



}
#btn-abrirCaixa{

	margin-top: 70% !important;
	margin-left: 23% !important;;


}
.iconcaixa{
	background: url(imgs/btn_caixa_icon.png) no-repeat;
    float: left;
    width: 10px;
    height: 40px;
	
}


#minhaTabela{
	background-color: #ffffff;
	color: white;
	border: 1px solid white;
	padding: 2px;
	color:black;
  }
  
  #minhaTabela thead th{
	background-color: #002A3A;
	color: white;
	border: 1px solid white;
	padding: 2px;
  }
  
  #minhaTabela tr td{
	padding:5px 10px;
	text-align: center;
	
	cursor: pointer; /**importante para não mostrar cursor de texto**/
  }
  
  #minhaTabela tr td:last-child{
	text-align: right;
  }
  
  /**Cores**/
  #minhaTabela tr:nth-child(odd){
	background-color: #eee;
  }
  
  /**Cor quando passar por cima**/
  #minhaTabela tr:hover td{
	background-color: #f3270c;
  }
  
  /**Cor quando selecionado**/
  #minhaTabela tr.selecionado td{
	background-color: #aff7ff;
  }
  .BtnsFin{

   margin-top: 50%!important;

  }
  .CxDiv{
	width: 30px;
	height: 20px;
	border: 1px solid red;

  }